@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Barlow+Condensed:ital,wght@1,300&family=Handlee&family=Libre+Baskerville&family=Onest:wght@600&display=swap');

*{
  padding : 0;
  margin : 0;
}

:root{
    --logo-font : "Onest";
    --buttons-font : "Barlow Condensed";
    --handwrite-font : "Handlee";
    --title-font : "Libre Baskerville";
    --content-font : "AR One Sans";
}

ul{
  list-style: none;
}
img{
  pointer-events: none;
}
.App{
  width : 100%;
  height : 100vh;
  display : flex;
  flex-direction : column;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
body::-webkit-scrollbar { display: none; }
#nav{
  width : 100%;
  height : 8%;
  position : sticky;
  top : 0;
  z-index : 8;
}
#content{
  width : 100%;
  height : 92%;
  overflow-y : scroll;
  overflow-x : hidden;
}
.element{
 height : 100%;
  width : 100%;
}
#content::-webkit-scrollbar{
  width : 6px;
  position : relative;
  z-index : 10;
}
#content::-webkit-scrollbar-thumb{
  background-color: #a8062e;
}
#content::-webkit-scrollbar-track{
  background-color: black;
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
