@import url("../App.css");

#nouveaute__main-wrapper{
    width : 100%;
    height : 100%;
    position : relative;
    overflow : hidden;
    background: linear-gradient(to right bottom , rgb(243, 231, 235) , white);
}
#group1{
    position : absolute;
    object-fit: contain;
    width : 50%;
    height : 65%;
    top : 50%;
    left : -1%;
    transform : translateY(-50%);
    z-index : 2;
   
}
#nouveaute__main-wrapper::after{
    
}
#nouveaute__main-wrapper ul{
    display : flex;
    flex-direction: column;
    gap : 120px;
    width : 25%;
    height : 100%;
    z-index : 1;
}
#nouveaute__main-wrapper ul:first-child{
    position: absolute;
    top : 10%;
    left : 7%;
    transform : rotate(25deg);
}
#nouveaute__main-wrapper ul:first-child .bulle:nth-child(1){
    position : relative;
    left : -10px;
}
#nouveaute__main-wrapper ul:first-child .bulle:nth-child(2){
    position : relative;
    left : 40%;
}
#nouveaute__main-wrapper ul:first-child .bulle:nth-child(3){
    position : relative;
    left : -25%;
}
#nouveaute__main-wrapper ul:first-child .bulle:nth-child(4){
    position : relative;
    left : 20%;
}
#nouveaute__main-wrapper ul:nth-child(2){
    position: absolute;
    top : 6%;
    right : -15%;
}
#nouveaute__main-wrapper ul:nth-child(2) .bulle:nth-child(1){
    position : relative;
    right : 55%;
}
#nouveaute__main-wrapper ul:nth-child(2) .bulle:nth-child(2){
    position : relative;
    right :-15%;
}
#nouveaute__main-wrapper ul:nth-child(2) .bulle:nth-child(3){
    position : relative;
    right :5%;
}
#nouveaute__main-wrapper ul:nth-child(2) .bulle:nth-child(4){
    position : relative;
    right: 50%;
}

.bulle{
    content : "";
    position : relative;
    width : 70px;
    height : 70px;
    background-color: #a3133e;
    border-radius: 50%;
    box-shadow : 0 0 5px rgba(0, 0, 0, 0.664);
}

#section__content{
    position : absolute;
    z-index : 2;
    width : 38%;
    height : 100%;
    right : 17%;
    display : flex;
    flex-direction : column;
    justify-content: center;
    gap : 1.5%;
}
#section__content h2{
    font-size : 36px;
    font-family: var(--title-font);
    font-weight : 800;
    color : #8a1d3d ;
}
#section__content p{
    text-align: justify;
    line-height : 50px;
    font-weight : 600;
    font-size : 18px;
    font-family: var(--content-font);
}
.keyword{
    color : #9e0936;
    font-style : italic;
    font-weight : 800;
}
