@import url("../App.css");

#offres__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    position : relative;
    overflow : hidden;
}
#offres__container::before{
    content : "";
    position : absolute;
    background-color: transparent;
    box-shadow : -280px -200px #8d1b37 ;
    width : 35%;
    height : 50%;
    left : -.2%;
    top :-.1%;
    border-radius : 50%;
}
#offres__container::after{
    content : "";
    position : absolute;
    background-color: transparent;
    box-shadow : 280px 200px #8d1b37 ;
    width : 35%;
    height : 50%;
    right : -.2%;
    bottom :-.1%;
    border-radius : 50%;
}
#packs {
    flex: 35%;
    height: 60%;
}

#packs h2 {
    font-size: 32px;
    font-weight: 700;
    color: #8d092a;
    font-family: var(--title-font);
    position: relative;
    left: 5%;
}

#packs ul {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 9%;
    left: 7%;
    gap: 45px;
}

#packs li {
    display: flex;
    align-items: center;
    gap: 1.8%;
    width: 60%;
    position: relative;
    transition: transform .4s ease-in , color .4s ease-in;
    cursor: pointer;
}

#packs li:hover {
    transform: translateX(1.5%);
}

#packs li.selected {
    transform: translateX(1.5%);
}

#packs li:before {
    content: "";
    width: 1.2%;
    height: 100%;
    position: absolute;
    left: -3%;
    border-radius: 7px 0 0 7px;
    transition: background-color .5s ease-in;
}
#packs li:not(.selected) , #packs li:not(.selected) .pack__icon {
    color : #a5a3a4;
}
#packs li:not(.selected):before {
    background-color: #a5a3a4;
}

#packs li.selected:before {
    background-color: #8d092a;
}

#packs li h4 {
    font-size: 20px;
}

#packs .pack__icon {
    width: 18px;
    height: 18px;
    color: #8d092a;
    transition : color .4s ease-in;
}

#packs h2::before {
    content: "";
    width: 19px;
    height: 19px;
    background-color: #8d092a;
    position: absolute;
    left: -3.5%;
    top: 50%;
    border-radius: 50%;
    transform: translate(0%, -50%);
}

#packs__description {
    flex: 50%;
    height: 85%;
    display : flex;
    gap : 55px;
    align-items: center;
}
#pack__image-container{
    flex : 25%;
    height : 75%;
}
#packs__description p {
    flex : 40%;
    line-height :55px;
    text-align: justify;
    font-weight : 600;
    font-size : 17px;
    letter-spacing: .5px;
    font-family : var(--title-font);
    position : relative;
    right : 2.5%;
    text-indent: 4%;
}
#pack__image{
    object-fit:fill;
    width : 100%;
    height : 100%;
    box-shadow : 0 0 15px rgba(0, 0, 0, 0.479);
    border-radius : 8px;
}
#rose{
    width : 180px;
    height : 180px;
    transform : rotate(30deg);
    filter : opacity(65%);
    top : -6%;
    right : 2%;
    position : absolute;
}
.quote{
    position : absolute;
    bottom : 1%;
    left : 1%;
    font-size : 24px;
    font-family: var(--handwrite-font);
    font-style : italic;
    font-weight :500;
    color: #8d1b37d5;
}
