@import url("../App.css");

#produits-acceuil__container{
    width : 100%;
    height : 100%;
    display : flex;
    flex-direction : column;
    position : relative;
}
#half__page{
    content : "";
    width : 42%;
    z-index : -1;
    height : 100%;
    background: linear-gradient(to bottom right , rgb(255, 236, 236) , rgb(255, 131, 131) );
    position : absolute;
    right : 0;
    top : 0;

}
#produits-acceuil__header{
    display : flex;
    justify-content: center;
    align-items : center;
    width : 100%;
    flex : 20%;
    gap : 15px;
}
.shiningIcone {
    width: 35px;
    height: 35px;
}
#produits-acceuil__header h2{
    font-size : 30px;
    font-family: var(--title-font);
    background: linear-gradient(80deg, #d61d4b 50%, #6e041e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#produits-acceuil__body{
    flex : 80%;
    width : 100%;
    display : flex;
    gap : 2%;
    align-items: center;

}
#text__side{
    flex : 30%;
    position : relative;
    top : -3%;
    left : 2%;
    top : -14%;
    display : flex;
    flex-direction : column;
    gap : 15px;
    height : 100%;
    justify-content: center;
}
#text__side button{
    position : absolute;
    width : 40%;
    height : 8%;
    right : 1%;
    bottom : 16%;
    cursor : pointer;
    border : none;
    display : flex;
    justify-content: center;
    align-items: center;
    gap : 8px;
    border-radius : 3px;
    transition : transform .35s ease-in-out;
    background-image: linear-gradient(30deg, #d61d4b 35%, #6e041e);
}
#text__side button:hover{
    transform : rotate(1deg);
}
#text__side button h5{
    color : white;
    font-weight : 700;
    font-size : 19px;
    font-family : var(--button-font);
}
#text__side button .rightArrow{
    color : white;
    width : 25px;
    height : 25px;
}
#text__side p {
    text-align: justify;
    font-size : 23px;
    line-height : 54px;
    font-style: oblique;
    font-weight : 600;
    text-indent: 5%;
    font-family: var(--content-font);
}
#text__side p::first-letter{
    color : #d61d4b;
}
#image__container{
    flex : 20%;
    height :85%;
    position : relative;
    top : -8%;
}  
#produits{
    position : absolute;
    width : 115%;
    height : 115%;
    object-fit: contain;
    z-index : 1;
    top : -45%;
    left : -5%;
    filter: drop-shadow(30px 20px 10px rgba(27, 27, 27, 0.281));
}
@keyframes produits{
    0%{ 
        transform : translateY(0);
    }
    50%{
        transform : translateY(-4%);
    }
    100%{
        transform : translateY(0);
    }
}
