@import url("../App.css");

#services-main__container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgba(192, 8, 39, 0.062);
    z-index : 0;
}
#motif__container{
    position : absolute;
    width : 100%;
    height : 100%;
    z-index : -1;
}
#motif__container img{
    width : 100%;
    height : 100%;
    object-fit: cover;
    opacity : .35;
}
#servicesHeader {
    flex: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.mySwiper{
    position : absolute;
    width : 100%;
    z-index : 3;
}
.shiningIcone {
    width: 35px;
    height: 35px;
}

#servicesHeader h2 {
    font-size: 28px;
    font-family: var(--title-font);
    font-weight: 900;
    position: relative;
    background: linear-gradient(80deg, #d61d4b, #6e041e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.servicesContainer {
    flex: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    gap: 45px;
}

.isActiveCard {
    transform: scale(1.07);
}
#discount{
    content : "";
    width :11%;
    height : 7%;
    position : absolute;
    z-index : 1;
    top : 1%;
    left : 1%;
}
#discount__icon{
    width : 100%;
    height : 100%;
    object-fit: contain;
}
#service-header {
    flex: 28%;
    background-color: #a8062e;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#service-header h3 {
    color: white;
    font-weight: 800;
    font-family: var(--title-font);
    font-size: 25px;
}

#service-header::after {
    content: "";
    width: 26%;
    height: 106%;
    position: absolute;
    bottom: -38%;
    background-color: white;
    border: none;
    left: -14%;
    transform: rotate(-40deg);
}

#service-header::before {
    content: "";
    width: 26%;
    height: 106%;
    border: none;
    position: absolute;
    bottom: -38%;
    background-color: white;
    right: -14%;
    transform: rotate(40deg);
}

#service-description {
    padding-top: 30px;
    flex: 62%;
    width: 85%;
    margin: 0 7.5% 0 7.5%;
    font-size: 18px;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
    font-family: var(--handwrite-font);
    line-height: 27px;
    text-align: justify;
    font-weight: 600;
}

#service-price {
    flex: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100px;
}

#service-price p {
    font-size: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    color: white;
    font-family: var(--title-font);
}

.banner {
    width: 105px;
    height: 100px;
}

#wax {
    width: 65%;
    height: 65%;
    object-fit: contain;
    position: absolute;
    bottom: -33%;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0);
}

.test {
    object-fit: cover;
}

.isActive {
    opacity: .5;
}

#cards__container {
    flex: 90%;
    flex-basis: 25%;
    width: 100%;
    height: 100%;
}

#service {
    width: 75%;
    height: 88%;
    overflow: hidden;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0 0 10px gray;
    position: relative;
    transition: transform .3s ease-in-out;
    text-align: center;
    background-color: white;
}

#front_card {
    display: flex;
    flex-direction: column;
}

#front_card,
#back_card {
    position: absolute;
    width: 100%;
    height: 100%;
}

#back_card {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    transition: transform .4s ease-in-out;
    transform: translateY(-100%);
    transform-origin: top;
    position: relative;
    background: linear-gradient(to right top, rgb(250, 118, 118) 5%, white);
}

#top__decoration {
    position: absolute;
    width: 45%;
    height: 30%;
    top: 0;
    right: 0;
}

#top__decoration img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.isActive {
    background: black;
}

.swiper {
    width: 100%;
    height: 100%;
    justify-content: center;
    position : absolute;
}

.swiper-wrapper {
    top: 5%;
    width: 80%;
    left: 4%;
    cursor: grab;
}

.swiper-button-prev,
.swiper-button-next {
    background: #a8062e;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#ancien_prix {
    bottom: 8%;
    left: 9%;
    display: flex;
    position: absolute;
    width: 20%;
}

#ancien_prix p {
    font-size: 17px;
    color: #a8062e;
    font-style: italic;
    font-weight: 600;
    position: relative;
    font-family: var(--content-font);
}

#favorisButton__container {
    bottom: 8%;
    right: 15%;
    display: flex;
    position: absolute;
}

.favorisButton {
    width: 25px;
    height: 25px;
    position: relative;
    z-index: 1;
    transition: color .35s ease-in-out;
    color: rgba(128, 128, 128, 0.671);
}

.clicked {
    color: #a8062e;
    animation: favorisIcon .75s ease-in-out;
}

#addtoBasket {
    width: 80%;
    height: 10%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: background-color .3s ease-in;
    background-color: #800020;
}

#addtoBasket:hover {
    background-color: #b91616;
}

#addtoBasket h4 {
    color: white;
    font-weight: 700;
    font-size: 21px;
    font-family: var(--content-font);
}

.basket__icon {
    width: 22px;
    height: 22px;
    color: white;
    font-weight: 700;
}

.active #back_card {
    transform: translateX(0);
}

@keyframes favorisIcon {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-45%);
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(-20%);
    }

    100% {
        transform: translateY(0px);
    }
}
