@import url("../../App.css");

#authentification__container {
    width: 100%;
    height: 100%;
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(100, 148, 237, 0.075);
}

#forms__container {
    content: "";
    width: 78%;
    height: 82%;
    background-color: white;
    box-shadow: 0 0 20px gray;
    border-radius: 8px;
    display: flex;
    overflow: hidden;
}

#forms__wrapper {
    background-color: white;
    content: "";
    flex: 50%;
    border-radius: 8px 0 0 8px;
    display: flex;
    flex-direction: column;
}

#form__logo-container {
    width: 100%;
    height: 25%;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    top: 3.5%;
}

#form__content {
    flex: 95%;
    width: 100%;
    content: "";
    background-color: white;
    position: relative;
}

#banner__wrapper {
    content: "";
    flex: 50%;
    position: relative;
    z-index: 1;

}

#authBanner {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

#bannerContent {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.726);
    border-radius: 0 8px 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .8s;
    transform-style: preserve-3d;
}

@keyframes bannerContentInit {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);

    }
}

@keyframes display {
    100% {
        transform: scale(1);
    }
}

@keyframes hide {
    100% {
        transform: scale(0);
    }
}

@keyframes swipe-left {
    100% {
        transform: translateX(-100%);
    }
}

@keyframes swipe-right {
    100% {
        transform: translateX(100%);
    }
}

.swipe-right {
    animation: swipe-right .25s forwards ease-in-out;
}

.swipe-left {
    animation: swipe-left .25s forwards ease-in-out;
}

#front,
#back {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 80%;
}

.hidden {
    transform: scale(0);
}

.display {
    transform: scale(1);
}

#bannerContent p {
    color: white;
    font-weight: 600;
    font-size: 26px;
    line-height: 3.25rem;
    text-align: center;
    width: 100%;
    font-family: var(--title-font);
}

#bannerContent button {
    width: 50%;
    height: 9%;
    border-radius: 6px;
    cursor: pointer;
    position: absolute;
    bottom: 22%;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    background-color: #8d0118;
    transition: background-color .2s ease-in;
}

#bannerContent button:hover {
    background-color: #be0927;
}

#logo__banner {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes banner_mouvement {
    100% {
        transform: translateX(100%);
    }
}

@keyframes forms_mouvement {
    100% {
        transform: translateX(-100%);
    }
}
