@import url("../../App.css");
#login__container{
    width: 100%;
    height: 105%;
    content: "";
    background-color: white;
    position : absolute;
    top : -5%;
    left : 0;
    z-index : 0;
}

#login-form__container{
    width : 100%;
    height : 100%;
    display : flex;
    flex-direction : column;
    gap : 1%;
    align-items: center;
    position : absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#inputs__container{
    width : 100%;
    flex : 40%;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap : 24%;
}
#login__options{
    flex : 30%;
    width : 100%;
    display : flex;
    flex-direction: column;
    align-items: center;
    gap : 8%;
}
.login__input{
    position : relative;
    width : 85%;
    height : 17%;
    background-color: rgba(139, 0, 0, 0.082);
    border: 1px solid rgba(139, 0, 0, 0.473);
    border-radius : 4px;
    caret-color: rgba(139, 0, 0, 0.473);
}
.login__input.invalid{
    border: 2px solid rgba(247, 36, 36, 0.973);
}
.login__input label{
    position : absolute;
    top : -60%;
    font-size: 15px;
    font-weight: 500;
    color: rgb(112, 8, 8);
    font-family: var(--title-font);
}
.login__input .login__field{
    background-color: transparent;
    outline : none;
    border : none;
    width : 100%;
    height : 100%;
    padding-left: 3%;
    color: rgb(31, 30, 30);
    font-weight: 500;
    font-size: 18px;
    font-family: var(--content-font);
    overflow: hidden;
    flex : 90%;
}
#password__forgotten{
    width : 100%;
    display : flex;
    justify-content: center;
    align-items: center;
    gap : 1.5%;
    position : relative;
    top : 12%;
}
#password__forgotten .seperator{
    content : "";
    height : 2%;
    width : 13%;
    background-color: cornflowerblue;
}
#password__forgotten .forgot-password{
    cursor : pointer;
    font-size : 15px;
    color : cornflowerblue;
}
#remember-me__container{
    width : 100%;
    height : 5%;
    display : flex;
    justify-content: center;
    align-items: center;
    gap : .9%;
    position: relative;
    top : -8%;
}
.field__container{
    width : 100%;
    height : 100%;
    display : flex;
}
.icon__container{
    flex : 10%;
    background-color: white;
    display : flex;
    justify-content: center;
    align-items: center;
    height : 100%;
    border-radius: 0 4px 4px 0;
}
.login__icon{
    width : 50%;
    height : 50%;
    color : rgba(139, 0, 0, 0.548);
}
.rememberMe{
    cursor : pointer;
    transform : scale(1.2);
}
#remember-me__container label{
    font-size : 15px;
    font-weight : 600;
}

#login-button__container{
    width : 100%;
    height : 15%;
    display : flex;
    justify-content: center;
    align-items: center;
}
#login{
    width : 70%;
    height : 130%;
    border : none;
    border-radius : 3px;
    background-color: rgb(150, 10, 10);
    transition: color .3s ease-out;
    cursor : pointer;
    font-weight: 600;
    font-size: 18px;
    font-family: var(--button-font);
    color: white;
}
#login:hover{
    background-color: rgb(173, 37, 37);
}